<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Hypergraph</title>
		<link rel="stylesheet" type="text/css" href="styles.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="cytoscape.js"></script>
		<script type="text/javascript" src="dagre.js"></script>
		<script type="text/javascript" src="arbor.js"></script>
		<script type="text/javascript" src="cola.v3.min.js"></script>
		<script type="text/javascript" src="springy.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>
	<body>

		<div id='cy'></div>
		<div id="footer"></div>

	</body>
</html>