body{
	background: #FFF;
	color:#000;
	font-family: helvetica, arial;
}

#cy{
	width: 100vw;
	height:100vh;
}

#footer{
	font-size: 10px;
	position: fixed;
	bottom:0px;
	background: #EEE;
	width:100%;
	
}

#Node1{
	color:red;
	background-color:blue;
}